[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cloudinary = "*"
django-cloudinary-storage = "*"
django-cors-headers = "*"
django = "*"
djangorestframework = "*"


[dev-packages]

[requires]
python_version = "3.12"
